html {
    width: 60%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-size: 16px;
    background-color: #7e7e7e;
}
body {
    height: 100%;
    min-height: 100%;
    line-height: 1.75;
    background-color: #7e7e7e;
}
a:link:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
table tr {
    background-color: #aaaaaa;
}
  
table tr:hover {
    background-color: rgb(139, 139, 139);
}
  
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7100ce;
    color: rgb(155, 154, 154);
}
.scrolly {
    height: auto;
    width: auto;
}
input[type=submit], button {
    cursor: pointer;
    cursor: hand;
}
@media(max-width: 900px) {
    html {
        font-size: 14px !important;
        width: 80% !important;
    }
}
@media(max-width: 480px) {
    html {
        font-size: 12px !important;
        width: 90% !important;
    }
}
@media(max-width: 320px) {
    html {
        font-size: 12px !important;
        width: 100% !important;
    }
}

#updateButton {
    visibility: hidden;
}
